* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.header {
  font-size: 35px;
  text-align: center;
}

#array {
  background-color: white;

  margin: auto;
  position: relative;
  margin-top: 64px;
}

.block {
  width: 32px;
  background-color: blue;
  bottom: 0px;
}

.block_id {
  color: black;
  margin-top: -20px;
  width: 100%;
  text-align: center;
}

.found {
  color: green;
  font-weight: bold;
}

.not-found {
  color: red;
  font-weight: bold;
}

.boldptag {
  font-weight: bold;
}
